{% extends 'base.html' %}
{% block title %}{% endblock %}

{% block content %}
<section id="about-company" class="padding-top wow fadeInUp" data-wow-duration="400ms" data-wow-delay="400ms">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <img src="/static/images/about.JPG" class="margin-bottom" alt="">
                <h1 class="margin-bottom">About Me</h1>
                <blockquote>```做好每一件小事，專注在每個細節```</blockquote>
                <p>大家好，我是YR</p>
                <p>從物理漂流到認知科學，目前定居在資訊領域</p>
                <p>覺得網頁很有趣，所以做了個網站XD</p>
                <p>一路上跨領域的學習受惠於開源及網路上的共享，所以也要回饋於社會</p>
                <p>歡迎大家一起來切磋討論！：）</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}