{% extends 'base.html' %}
{% block title %}{% endblock %}

{% block content %}
<section id="team">
    <div class="container">
        <div class="row">
            <h1 class="title text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms">
                覺得網頁不錯的話，就請我喝杯咖啡吧：Ｄ
            </h1>
            <p class="text-center wow fadeInDown" data-wow-duration="400ms" data-wow-delay="400ms">How about buying me a
                coffee? :D<br>
                <div id="team-carousel" class="carousel slide wow fadeIn" data-ride="carousel" data-wow-duration="400ms"
                    data-wow-delay="400ms">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="col-sm-3 col-xs-6">
                            <div class="team-single-wrapper">
                                <div class="team-single">
                                    <div class="person-thumb">
                                        <img src="" class="img-responsive" alt="">
                                    </div>
                                </div>
                                <div class="img-info">
                                    <h2></h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="team-single-wrapper">
                                <div class="team-single">
                                    <div class="person-thumb">
                                        <img src="/static/images/jkopay.jpg" class="img-responsive" alt="" height="300"
                                            width="300">
                                    </div>
                                </div>
                                <div class="img-info">
                                    <h2>街口支付JKOPAY</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="team-single-wrapper">
                                <div class="team-single">
                                    <div class="person-thumb">
                                        <img src="/static/images/dawho.jpg" class="img-responsive" alt="" height="300"
                                            width="300">
                                    </div>
                                </div>
                                <div class="img-info">
                                    <h2>永豐大戶DAWHO</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="team-single-wrapper">
                                <div class="team-single">
                                    <div class="person-thumb">
                                        <img src="" class="img-responsive" alt="">
                                    </div>
                                </div>
                                <div class="img-info">
                                    <h2></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>
<!--/#donate-->

{% endblock %}