{% extends 'base.html' %}
{% block title %}{% endblock %}

{% block content %}
<section id="features">
    <div class="container">
        <div class="row">
            <div class="single-features">
                <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="/static/images/home/image1.png" class="img-responsive" alt="">
                </div>
                <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                    <a href="{% url "yrbase:about" %}">
                        <h2>About Me</h2>
                    </a>
                    <P>快來了解我吧！</P>
                </div>
            </div>
            <!-- <div class="single-features">
                <div class="col-sm-6 col-sm-offset-1 align-right wow fadeInLeft" data-wow-duration="500ms"
                    data-wow-delay="300ms">
                    <a href="{% url "yrbase:about" %}">
                        <h2>Blog</h2>
                    </a>
                    <P>這是一個分享技術的地方</P>
                </div>
                <div class="col-sm-5 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="/static/images/home/image2.png" class="img-responsive" alt="">
                </div>
            </div> -->
            <!-- <div class="single-features">
                <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="/static/images/home/image3.png" class="img-responsive" alt="">
                </div>
                <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                    <a href="{% url "yrbase:about" %}">
                        <h2>SocketBus</h2>
                    </a>
                    <P>這是一個還沒做好功能的地方</P>
                </div>
            </div> -->
            <div class="single-features">
                <div class="col-sm-6 col-sm-offset-1 align-right wow fadeInLeft" data-wow-duration="500ms"
                    data-wow-delay="300ms">
                    <a href="{% url "yrbase:donate" %}">
                        <h2>Donate</h2>
                    </a>
                    <P>喜歡我的網站就請我喝杯咖啡吧！</P>
                </div>
                <div class="col-sm-5 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="/static/images/home/image2.png" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#features-->
{% endblock %}